@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--sidebar start-->
<aside>
    <div id="sidebar" class="leftside-navigation">
        <!-- sidebar menu start-->
        <div class="sidebar-header">
            <button id="sidebar-toggle" type="button" class="toggle-btn">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/Employee">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>User</span>
                    </a>
                    <ul class="sub">
                        <li>
                            <a asp-action="index" asp-controller="User" asp-route-role="intern">
                                <i class="fa fa-folder-o"></i>Intern Management
                            </a>
                        </li>
                        <li>
                            <a asp-action="index" asp-controller="User" asp-route-role="employee">
                                <i class="fa fa-folder-o"></i>Employee Management
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Class</span>
                    </a>
                    <ul class="sub">
                        <li>
                            <a asp-controller="Class" asp-action="index">
                                <i class="fa fa-folder-o"></i>Class Managerment
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Schedule</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/schedule"><i class="fa fa-folder-o"></i>Schedule Management</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-book"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->